.main-button {
  margin: 25px auto; }

button.fancy {
  font-family: "RooneyPro-Medium";
  -webkit-appearance: button;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  float: right;
  letter-spacing: -0.5px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .3s ease-in-out;
  user-select: none;
  width: 16.8125rem; }
  button.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 3px;
    background: #edca85;
    top: 50%;
    left: 1.5em;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: background 0.3s linear, width 0.3s linear;
    transition: background 0.3s linear, width 0.3s linear; }
  button.fancy a {
    font-size: 20px;
    padding-left: 2em;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #FFFFFF; }
  button.fancy .top-line {
    height: 3px;
    width: 2.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #a0e9ff;
    -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
    transition: width 0.5s ease-out, left 0.3s ease-out; }
  button.fancy .bottom-line-1 {
    height: 3px;
    width: 2.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #a162e8;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  button.fancy .bottom-line-2 {
    height: 3px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #f093b0;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  button.fancy:hover {
    background: transparent; }
    button.fancy:hover::before {
      width: 0.9375rem;
      background: #FFFFFF; }
    button.fancy:hover a {
      padding-left: 1.5em; }
    button.fancy:hover .top-line {
      left: -2px;
      width: 0px; }
    button.fancy:hover .bottom-line-1, button.fancy:hover .bottom-line-2 {
      right: 0;
      width: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 5rem; }
  .button a {
    text-decoration: none;
    color: #FFFFFF; }
  .button:hover .button__border-circle {
    transform: translateX(60px); }
  .button:hover .button__mask-circle {
    clip-path: circle(25px at 85px); }

.button__text {
  font-family: "Aqua";
  z-index: 1;
  font-size: 20px;
  margin-right: -13px;
  color: #FFFFFF; }

.button__wrapper {
  position: relative;
  display: flex;
  align-items: center; }

.button__arrow {
  left: 35px;
  height: 3px;
  width: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #f4bb09; }
  .button__arrow:after {
    content: '';
    width: 0;
    height: 0;
    top: -5px;
    right: -7px;
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #f4bb09; }

.button__border-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #BFBFBF;
  transition: transform 987ms; }

.button__mask-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(25px);
  transition: clip-path 987ms; }

.button__small-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(60px);
  background-color: #f4bb09; }

.btn-project .visit {
  width: 100px;
  font-family: "RooneyPro-Medium";
  color: #ffffff;
  text-decoration: none;
  background: transparent;
  padding: 7px 0;
  border: 2px solid #ffffff;
  display: inline-block;
  transition: all 0.6s ease 0s;
  position: relative;
  top: 50px; }

.btn-project .visit:hover {
  text-decoration: none;
  color: #121212;
  background: #ffffff;
  border-color: #ffffff;
  transition: all 0.6s ease 0s; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
  padding: 2rem 0 10rem 0; }
  .navbar-container #indicator {
    position: absolute;
    left: 0.5%;
    bottom: -4px;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: 0.4s ease left; }
  .navbar-container .logo-navbar h2 {
    margin: 0;
    color: #FFFFFF;
    font-family: "Aqua";
    font-size: 18px; }
  .navbar-container .navbar {
    position: relative;
    right: 30px;
    padding: 0; }
  .navbar-container .social-links .linkedin {
    padding-right: 10px; }
  .navbar-container .social-links .linkedin img, .navbar-container .social-links .github img {
    padding-right: 0;
    border-radius: 50%;
    transition: all 0.5s ease;
    width: 35px;
    height: 35px;
    position: relative;
    top: -2px; }
  .navbar-container .social-links .linkedin:hover img {
    color: #0c65c2;
    box-shadow: 0 0 20px #0c65c2;
    transition: all 0.5s ease; }
  .navbar-container .social-links .github:hover img {
    color: #FFFFFF;
    box-shadow: 0 0 20px #FFFFFF;
    transition: all 0.5s ease; }
  .navbar-container .navbar a {
    font-family: "Aqua";
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 15px;
    transition: 0.2s ease color; }
  .navbar-container .navbar a:hover {
    text-decoration: none;
    color: #FFFFFF; }
  .navbar-container .navbar a:nth-child(1):hover ~ #indicator {
    background: #FFFFFF; }
  .navbar-container .navbar a:nth-child(2):hover ~ #indicator {
    left: 25.5%;
    background: linear-gradient(130deg, yellow, red); }
  .navbar-container .navbar a:nth-child(3):hover ~ #indicator {
    left: 53.4%;
    background: linear-gradient(130deg, purple, palevioletred); }
  .navbar-container .navbar a:nth-child(4):hover ~ #indicator {
    left: 76.4%;
    background: linear-gradient(130deg, #00e2ff, #89ff00); }

.project-container {
  min-height: 65vh; }

.project-card-info {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  min-width: 313px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background: transparent; }

.project-card-info * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.project-card-info img {
  border-radius: 5px;
  position: relative;
  max-width: 100%;
  vertical-align: top; }

.project-card-info figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px; }

.project-card-info figcaption:before,
.project-card-info figcaption:after {
  width: 1px;
  height: 0; }

.project-card-info figcaption:before {
  right: 0;
  top: 0; }

.project-card-info figcaption:after {
  left: 0;
  bottom: 0; }

.project-card-info h3 {
  font-family: "RooneyPro-Medium";
  font-size: 32px;
  letter-spacing: -0.5px;
  text-transform: uppercase; }

.project-card-info h4 {
  background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "RooneyPro-Medium";
  letter-spacing: -0.5px;
  font-size: 20px; }

.project-card-info p {
  position: relative;
  top: 15%;
  font-family: "NimbusSans-Light";
  letter-spacing: 0.8px; }

.project-card-info:before,
.project-card-info:after,
.project-card-info figcaption:before,
.project-card-info figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8; }

.project-card-info:before,
.project-card-info:after {
  height: 1px;
  width: 0%; }

.project-card-info:before {
  top: 0;
  left: 0; }

.project-card-info:after {
  bottom: 0;
  right: 0; }

.project-card-info:hover img,
.project-card-info.hover img {
  opacity: 0; }

.project-card-info:hover figcaption,
.project-card-info.hover figcaption {
  opacity: 1; }

.project-card-info:hover figcaption:before,
.project-card-info.hover figcaption:before,
.project-card-info:hover figcaption:after,
.project-card-info.hover figcaption:after {
  height: 100%; }

.project-card-info:hover:before,
.project-card-info.hover:before,
.project-card-info:hover:after,
.project-card-info.hover:after {
  width: 100%; }

.project-card-info:hover:before,
.project-card-info.hover:before,
.project-card-info:hover:after,
.project-card-info.hover:after,
.project-card-info:hover figcaption:before,
.project-card-info.hover figcaption:before,
.project-card-info:hover figcaption:after,
.project-card-info.hover figcaption:after {
  opacity: 0.6; }

.hello-world {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .hello-world h1 {
    text-align: center;
    color: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    font-size: 32px;
    line-height: 150%;
    font-family: "RooneyPro-Medium";
    letter-spacing: -0.5px;
    margin-bottom: 0; }
    .hello-world h1 .colorful-name {
      font-size: 40px;
      font-family: "RooneyPro-Bold";
      background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.about-me-container {
  color: #FFFFFF;
  width: 90%;
  margin: 0 auto; }
  .about-me-container .web-developer-card {
    padding-bottom: 5rem; }
  .about-me-container .visual-storyteller-card {
    padding-bottom: 5rem; }
  .about-me-container .web-developer-card, .about-me-container .visual-storyteller-card {
    display: flex;
    justify-content: space-around; }
    .about-me-container .web-developer-card .web-delevoper-image img, .about-me-container .web-developer-card .visual-storyteller-image img, .about-me-container .visual-storyteller-card .web-delevoper-image img, .about-me-container .visual-storyteller-card .visual-storyteller-image img {
      width: 500px;
      height: 500px;
      border-radius: 5px; }
    .about-me-container .web-developer-card .web-developer-text, .about-me-container .visual-storyteller-card .web-developer-text {
      height: 500px;
      width: 500px;
      position: relative;
      top: -25px; }
      .about-me-container .web-developer-card .web-developer-text h1, .about-me-container .visual-storyteller-card .web-developer-text h1 {
        font-family: "RooneyPro-Medium";
        line-height: 150%;
        font-size: 35px;
        letter-spacing: -0.5px;
        margin-bottom: 0; }
      .about-me-container .web-developer-card .web-developer-text p, .about-me-container .visual-storyteller-card .web-developer-text p {
        font-family: "NimbusSans-Light";
        font-size: 18px;
        opacity: 0.9;
        letter-spacing: 0.8px;
        margin-bottom: 0;
        line-height: 32px; }
    .about-me-container .web-developer-card .visual-storyteller-text, .about-me-container .visual-storyteller-card .visual-storyteller-text {
      width: 500px;
      height: 500px;
      position: relative;
      top: -10px; }
      .about-me-container .web-developer-card .visual-storyteller-text h1, .about-me-container .visual-storyteller-card .visual-storyteller-text h1 {
        font-family: "RooneyPro-Medium";
        line-height: 150%;
        font-size: 35px;
        letter-spacing: -0.5px;
        margin-bottom: 0; }
      .about-me-container .web-developer-card .visual-storyteller-text p, .about-me-container .visual-storyteller-card .visual-storyteller-text p {
        font-family: "NimbusSans-Light";
        letter-spacing: 0.8px;
        font-size: 18px;
        opacity: 0.9;
        margin-bottom: 0;
        line-height: 32px; }
  .about-me-container .random-facts-container .random-facts-header h1 {
    text-align: center;
    font-family: "RooneyPro-Medium";
    font-size: 35px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .about-me-container .random-facts-container .factsCarousel {
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 10rem; }
    .about-me-container .random-facts-container .factsCarousel .facts {
      text-align: center;
      overflow: hidden;
      height: 65px; }
      .about-me-container .random-facts-container .factsCarousel .facts h2 {
        background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "RooneyPro-Bold";
        letter-spacing: -0.5px;
        margin-bottom: 0;
        font-size: 48px;
        padding-bottom: 3rem; }
        .about-me-container .random-facts-container .factsCarousel .facts h2 ul {
          padding: 0; }
          .about-me-container .random-facts-container .factsCarousel .facts h2 ul li {
            height: 45px;
            margin-bottom: 45px;
            display: block; }
  .about-me-container .random-facts-container .flip8 {
    animation: flip8 20s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip8 {
  0% {
    margin-top: -720px; }
  6.25% {
    margin-top: -630px; }
  12.5% {
    margin-top: -630px; }
  18.75% {
    margin-top: -540px; }
  25% {
    margin-top: -540px; }
  31.25% {
    margin-top: -450px; }
  37.5% {
    margin-top: -450px; }
  43.75% {
    margin-top: -360px; }
  50% {
    margin-top: -360px; }
  56.25% {
    margin-top: -270px; }
  62.5% {
    margin-top: -270px; }
  68.75% {
    margin-top: -180px; }
  75% {
    margin-top: -180px; }
  81.75% {
    margin-top: -90px; }
  88% {
    margin-top: -90px; }
  94.25% {
    margin-top: 0px; }
  99.99% {
    margin-top: 0px; }
  100% {
    margin-top: -630px; } }

body {
  background-color: #121212; }

@font-face {
  font-family: 'Aqua';
  src: url("../fonts/Aqua.ttf") format("truetype"); }

@font-face {
  font-family: 'NimbusSans-Light';
  src: url("../fonts/NimbusSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'RooneyPro-Medium';
  src: url("../fonts/RooneyPro-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'RooneyPro-Bold';
  src: url("../fonts/RooneyPro-Bold.ttf") format("truetype"); }

.noise-background {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .6;
  visibility: visible; }

@keyframes bg-animation {
  0% {
    transform: translate(0, 0); }
  10% {
    transform: translate(-5%, -5%); }
  20% {
    transform: translate(-10%, 5%); }
  30% {
    transform: translate(5%, -10%); }
  40% {
    transform: translate(-5%, 15%); }
  50% {
    transform: translate(-10%, 5%); }
  60% {
    transform: translate(15%, 0); }
  70% {
    transform: translate(0, 10%); }
  80% {
    transform: translate(-15%, 0); }
  90% {
    transform: translate(10%, 5%); }
  100% {
    transform: translate(5%, 0); } }

.footer {
  text-align: center;
  font-family: "RooneyPro-Medium";
  color: #ffffff;
  padding-bottom: 1rem; }
  .footer .colorful-footer {
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
