@import "components/index";
@import "pages/index";

body {
  background-color: #121212;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 100px;
}

@font-face {
  font-family: 'Aqua';
  src: url('../fonts/Aqua.ttf') format('truetype');
}

@font-face {
  font-family: 'NimbusSans-Light';
  src: url('../fonts/NimbusSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RooneyPro-Medium';
  src: url('../fonts/RooneyPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RooneyPro-Bold';
  src: url('../fonts/RooneyPro-Bold.ttf') format('truetype');
}

.noise-background {
  z-index: -1;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('../images/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-bottom: 0.5rem;

  .footer-text p {
    text-align: center;
    font-family: "RooneyPro-Medium";
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
  }

  .footer-text a {
    background: linear-gradient(271deg ,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .footer-text a:hover {
    text-decoration: none;
  }

  .social-links {
    margin-bottom: 1rem;

    .linkedin, .instagram, .linkedin {
      padding: 0 15px;
    }

    .linkedin img, .github img, .instagram img {
      padding-right: 0;
      border-radius: 50%;
      transition: all 0.5s ease;
      width: 35px;
      height: 35px;
      position: relative;
      top: 0px;
    }

    .github:hover img, .instagram:hover img, .linkedin:hover img {
      color: #FFFFFF;
      box-shadow: 0 0 20px #FFFFFF;
      transition: all 0.5s ease;
    }
  }
}
