@media (min-width: 320px) and (max-width: 480px) {

  .hello-world {

    h1 {
      font-size: 16px !important;

      .colorful-name {
        font-size: 20px !important;
      }
    }
  }

  button.fancy {
    width: 12rem;
    padding: 0.75em 1.5em;

    &::before {
      width: 1rem;
    }

    a {
      font-size: 14px;
    }

    .top-line {
      width: 1.75rem;
    }

    .bottom-line-1 {
      width: 1.75rem;
    }

    .bottom-line-2 {
      width: 0.5rem;
    }
  }

  .navbar-container {
    padding: 1rem 0 3rem 0;
    width: 275px !important;

    .logo-navbar img {
      width: 75px;
      height: 75px;
    }

    .navbar a:nth-child(2):hover ~ #indicator {
      left: 24%;
    }

    .navbar a:nth-child(3):hover ~ #indicator {
      left: 53.4%;
    }

    .navbar a:nth-child(4):hover ~ #indicator {
      left: 75.5%;
    }

    .navbar {
      width: 275px !important;

      #indicator {
        width: 23px;
        left: 2.8%;
      }

      a {
        font-size: 14px !important;
        padding: 0 7px !important;
      }
    }
  }

  .btn-project {

    .visit {
      font-size: 14px;
      margin-bottom: 0;
      width: 75px !important;
      padding: 5px 0 !important;
    }
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0rem !important;
    width: 300px !important;

    .project-card {
      padding-bottom: 3rem;
      width: 300px !important;

      img {
        max-width: 300px !important;
        max-height: 172px !important;
      }

      .project-card-info {
        max-width: 300px !important;
        min-height: 172px !important;

        figcaption {
          padding: 8px 13px;
        }

        h3 {
          font-size: 18px !important;
        }

        h4 {
          font-size: 16px !important;
        }

        p {
          margin-bottom: 8px;
          font-size: 14px !important;
          letter-spacing: 0.5px;
        }
      }
    }
  }

  .about-me-container {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    width: 300px !important;

    .button {
      padding-bottom: 2rem;
      width: 300px !important;

      .button__text {
        font-size: 18px;
      }
    }

    .visual-storyteller-card, .web-developer-card {
      padding-bottom: 2rem !important;
    }

    .web-developer-card, .visual-storyteller-card {
      flex-direction: column !important;
      justify-content: center !important;

      .web-delevoper-image img, .visual-storyteller-image img {
        width: 300px !important;
        height: 300px !important;
      }

      .web-developer-text {
        width: 300px !important;
        height: auto !important;
        position: static !important;

        h1 {
          margin-top: 2rem;
          line-height: 125%;
          font-size: 22px !important;
        }

        p {
          font-size: 16px !important;
          line-height: 22px;
        }
      }

      .visual-storyteller-text {
        width: 300px !important;
        height: auto !important;
        position: static !important;
        padding-bottom: 2rem !important;

        h1 {
          font-size: 22px !important;
          line-height: 125%;
        }

        p {
          font-size: 16px !important;
          line-height: 22px;
        }
      }
    }

    .random-facts-container {
      width: 300px !important;
      height: 275px !important;

      .random-facts-header h1 {
        margin: 0 auto;
        padding: 2rem 0;
        width: 300px !important;
        font-size: 22px !important;
      }

      .factsCarousel {
        width: 300px !important;

        .facts {
          height: 60px;

          h2 {
            font-size: 24px !important;
          }
        }
      }
    }
  }

  .footer-container {

    .footer-text p {
      font-size: 12px !important;
      margin-bottom: 8px;
    }

    .social-links {
      margin-bottom: 8px !important;

      .linkedin img, .github img, .instagram img {
        height: 25px !important;
        width: 25px !important;
      }
    }
  }
}
