.navbar-container {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding: 2rem 0 10rem 0;

  .logo-navbar img {
    position: relative;
    right: 1px;
    width: 125px;
    height: 125px;
  }

  .logo-navbar:hover a {
    text-decoration: none;
  }

  .navbar {
    width: 400px;
    padding: 0;
    margin: 0 auto;

    #indicator {
      position: absolute;
      left: 0.5%;
      bottom: -5px;
      width: 30px;
      height: 3px;
      background: linear-gradient(130deg, #ffffff, #121212);
      border-radius: 5px;
      transition: 0.4s ease left;
    }
  }

  .navbar a {
    font-family: "Aqua";
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 15px;
    transition: 0.2s ease color;
  }

  .navbar a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, #ffffff, #121212);
  }

  .navbar a:nth-child(2):hover  ~ #indicator {
    left: 25.5%;
    background: linear-gradient(130deg, yellow, red);
  }

  .navbar a:nth-child(3):hover ~ #indicator {
    left: 53.4%;
    background: linear-gradient(130deg, purple, palevioletred);
  }

  .navbar a:nth-child(4):hover ~ #indicator {
    left: 76.4%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
  }
}
