.project-container {
  min-height: 66.5vh;
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-card-info {
  position: relative;
  margin: 0 auto;
  max-width: 550px;
  min-width: 344px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background: transparent;
}

.project-card-info * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.project-card-info img {
  border-radius: 5px;
  position: relative;
  max-width: 100%;
  vertical-align: top;
}

.project-card-info figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}

.project-card-info figcaption:before,
.project-card-info figcaption:after {
  width: 1px;
  height: 0;
}

.project-card-info figcaption:before {
  right: 0;
  top: 0;
}

.project-card-info figcaption:after {
  left: 0;
  bottom: 0;
}

.project-card-info h3 {
  font-family: "RooneyPro-Medium";
  font-size: 32px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.project-card-info h4 {
  background: linear-gradient(271deg ,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "RooneyPro-Medium";
  letter-spacing: -0.5px;
  font-size: 20px;
}

.project-card-info p {
  position: relative;
  top: 15%;
  font-family: "NimbusSans-Light";
  letter-spacing: 0.8px;
}

.project-card-info:before,
.project-card-info:after,
.project-card-info figcaption:before,
.project-card-info figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}

.project-card-info:before,
.project-card-info:after {
  height: 1px;
  width: 0%;
}

.project-card-info:before {
  top: 0;
  left: 0;
}

.project-card-info:after {
  bottom: 0;
  right: 0;
}

.project-card-info:hover img,
.project-card-info.hover img {
  opacity: 0;
}

.project-card-info:hover figcaption,
.project-card-info.hover figcaption {
  opacity: 1;
}

.project-card-info:hover figcaption:before,
.project-card-info.hover figcaption:before,
.project-card-info:hover figcaption:after,
.project-card-info.hover figcaption:after {
  height: 100%;
}

.project-card-info:hover:before,
.project-card-info.hover:before,
.project-card-info:hover:after,
.project-card-info.hover:after {
  width: 100%;
}

.project-card-info:hover:before,
.project-card-info.hover:before,
.project-card-info:hover:after,
.project-card-info.hover:after,
.project-card-info:hover figcaption:before,
.project-card-info.hover figcaption:before,
.project-card-info:hover figcaption:after,
.project-card-info.hover figcaption:after {
  opacity: 0.6;
}
